{%
  set classes = [
    'carousel',
    'slide',
    'slider-bootstrap'
  ]
%}

{% block paragraph %}
  <div{{ attributes.addClass(classes).setAttribute('data-bs-ride', 'carousel') }} id="slider-{{ paragraph.id() }}">
    {% block content %}
      {{ content|without('bp_items') }}

      <div class="carousel-indicators">
        {% for key, item in content.bp_items if key|first != '#' %}
          <button data-bs-target="#slider-{{ paragraph.id() }}" data-bs-slide-to="{{ key }}" {% if loop.first %}class="active" {% endif %}></button>
        {% endfor %}
      </div>

      <div class="carousel-inner">
        {% for key, item in content.bp_items if key|first != '#' %}
          <div class="carousel-item {% if loop.first %}active{% endif %}">
            {{ item|render }}
          </div>
        {% endfor %}
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#slider-{{ paragraph.id() }}" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">{{ 'Previous'|t }}</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#slider-{{ paragraph.id() }}" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">{{ 'Next'|t }}</span>
      </button>
    {% endblock %}
  </div>
{% endblock paragraph %}
